$shadow: 1px 4px 4px 1px #FF0000FF;
$shadow-light: 0px 4px 4px 0px #00000001;
$bg: #f2ecda;
$fg: #41403E;
$color1: #121212;
$dark: map-get($palette, 'macchiato');
$light: map-get($palette, 'latte');

.container {  
    font-family: "SF Pro Display";
    border-radius: 0 0 5px 5px;
    padding: 0 5px;
    background-color: $bg;

    &-dark-theme {
        background-color: map-get($dark, 'base');
        color: map-get($dark, 'text');
    }

    &-light-theme {
        color: map-get($light, 'base');
        color: map-get($light, 'text');
    }
}

.battery {
    padding: 0 5px;
    font-family: "SF Mono";
    font-size: 1.01em;

    .glyph {
        font-size: 1.2em;
    }

    &-dark-theme {
        .low {
            color: map-get($dark, 'red');
        }
        .med {
            color: map-get($dark, 'yellow');
        }
    }

    &-light-theme {
        .low {
            color: map-get($light, 'red');
        }
        .med {
            color: map-get($light, 'yellow');
        }
    }
}


.workspaces {
    font-weight: bold;

    button {
        font-size: 0.85em;
        padding: 0 0.25em;
        transition: all 90ms ease-in-out;

        &:hover{
            &.occupied {
                padding-bottom: 0.4em;
            }
            &.inactive {
                    padding-bottom: 0.4em;
            }
        }

        &.active {
            font-family: "Font Awesome 6 Free Solid";
            font-size: 1.2em;
        }

        &.occupied {
            font-family: "Font Awesome 6 Free Solid";
        }

        &.inactive {
            font-family: "Font Awesome 6 Free Regular";
        }
    }
}

.date {
    font-family: "SF Mono";
    font-weight: normal;
    font-size: 1.1em;
    border-bottom: dotted 3px $fg;
    padding: 0 0.1em;
}

.glyph {
    font-family: "icomoon";
    font-size: 1.1em;    
}

.separator {
    font-family: "Font Awesome 6 Free Solid";
    font-size: 0.3em; 
}


.music-player {
    font-family: "SF Pro Display";
    font-size: 1em;

    .music-art {
        background-size: cover;
        background-position: center;
        min-height: 30px;
        min-width: 30px;
        border-radius: 100%;
        box-shadow: $shadow-light;
    }

    .text {
        padding: 0 0.2em;
    }

    .player-controls {
        transition: color 100ms ease-in-out;
        font-family: "Font Awesome 6 Free";

        .play-pause {
            font-size: 1.1em;
            &:hover {
                color: $color1;
            }
        }

        .fw-bw {
            font-size: 1em;
        }
    }
}
